/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;700&family=Roboto:ital@0;1&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-100: #fefcf3;
  --primary-200: #faf2d0;
  --primary-300: #f7e8ad;
  --primary-400: #f3de8a;
  --primary-500: #aa9b61;
  --primary-600: #615937;
  --primary-700: #18160e;

  /* grey */
  --grey-100: #f2f2f5;
  --grey-200: #cbccd7;
  --grey-300: #a5a5b8;
  --grey-400: #7e7f9a;
  --grey-500: #58596c;
  --grey-600: #32333e;
  --grey-700: #0d0d0f;

  --shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.62);
  --transition: all ease 0.3s;
}

body {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Edu SA Beginner", cursive;
}
img {
  display: block;
  /* width: 100%; */
}
.container {
  background: var(--primary-300);
  padding: 5rem 0;
  min-height: 100vh;
}
.container-center {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
  padding: 0.75rem;
  background-color: var(--grey-200);
  box-shadow: var(--shadow);
}
.peoples {
  list-style-type: none;
  margin: 0.5rem 0;
}
.header {
  line-height: 3;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--grey-600);
}
.people {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
  align-items: center;
}
.people img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.8rem;
}
.info h4 {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.info p {
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--grey-600);
}
.btn {
  border: none;
  width: 100%;
  padding: 0.55rem;
  border-radius: 0.7rem;
  background: var(--primary-600);
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--grey-700);
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--grey-600);
  border: 1px solid var(--primary-600);
  color: var(--primary-500);
  cursor: pointer;
}
